{% extends "base2.html" %}
{% block content %}
<div class="settings-wrapper">
    <div class="left-setting-widget">
        <a class="settings-option" href="{{ url_for('ann_list') }}">
            <i class="fa-solid fa-window-maximize"></i>
            <p>Your Announcements</p>
        </a>
        <a class="settings-option" href="{{ url_for('settings') }}">
            <i class="fa-solid fa-user"></i>
            <p>User Settings</p>
        </a>
        <a class="settings-option" href="{{ url_for('log_out') }}">
            <i class="fa-solid fa-circle-xmark"></i>
            <p>Log Out</p>
        </a>
    </div>

    <div class="right-setting-widget announcement-list-widget"> 
        <h2>Your Announcement</h2>
        <div class="ann-list">
            {% for title, price, id in lines_data %}
            <div class="ann-slot" href="">
                <p>{{ title }}</p>
                <p>{{ price }} UAH</p>
                <a class="ann-slot-dlt-btn" href="#" name="{{id}}">Delete</a>
            </div>
           {% endfor %}
        </div>
        {% if lines_data|length <= 10 %}
        <button class="main-btn" onclick="window.location.href='{{ url_for('create_ann') }}'">Add New</button>
        {% endif %}
    </div>
</div>

{% endblock %}
       