<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyOLX</title>
    <link rel="icon" href="{{ url_for('static', filename='library.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
    <script src="https://kit.fontawesome.com/e7b3c4b0d9.js" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>
    {% block additional_links %}
    {% endblock %}
</head>
<body>
    
    <header>
        <div class="wrapper">
            <span id="logo"><a href="{{ url_for('main') }}" class="logo-a">MyOLX</a></span>
            <div id="right_ui_buttons">
                <a href="{{ url_for('ann_list') }}" class="profile-a"><i class="fa-regular fa-user"></i>{% block profile_name %}Your profile {% endblock %}</a>
                <button class="btn-nav" onclick="window.location.href='{{ url_for('create_ann') }}'" >Make announcement</button>
            </div>
        </div>
    </header>

    {% block searchbar %}
    
    {% endblock %}

    {% block content %}

    {% endblock %}

    <footer>
        <div class="wrapper">
            <span id="logo"><a href="{{ url_for('main') }}" class="logo-a">MyOLX</a></span>
        </div>
    </footer>

</body>
</html>

{% block js_scripts %}
{% endblock %}