<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyOLX</title>
    <link rel="icon" href="{{ url_for('static', filename='library.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleforms.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css' ) }}">
    <script src="https://kit.fontawesome.com/e7b3c4b0d9.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <div class="widget-center">
            <span id="logo">
                <a href="{{ url_for('main') }}" class="logo-a">
                    MyOLX
                </a>
            </span>
           
        </div>
    </header>

    <div class="background-page">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>

{% block js_scripts %}
{% endblock %}