{% extends "base2.html" %}

{% block content %}
<div class="form-create-ann">

    <h1>Create Announcement</h1>
    
    <form action="{{ url_for('create_new_ann') }}" method="post" class="form-ann-style" enctype="multipart/form-data">
        <div class="form-content">
            <div class="input-object">
                <p>Title</p>
                <input type="text" class="textline" maxlength="75" required name="title">
            </div>
            <div class="input-object">
                <p>Price</p>
                <input type="number" class="textline" maxlength="15" required name="price">
            </div>
            <div class="input-object">
                <p>Location</p>
                <select name="city-select" class="container-box" required>
                    <option value="All Country" selected>All Country</option>
                    <option value="Kyiv">Kyiv</option>
                    <option value="Kharkiv">Kharkiv</option>
                    <option value="Odesa">Odesa</option>
                    <option value="Dnipro">Dnipro</option>
                    <option value="Lviv">Lviv</option>
                    <option value="Zaporizhzhia">Zaporizhzhia</option>
                    <option value="Kryvyi Rih">Kryvyi Rih</option>
                    <option value="Mykolaiv">Mykolaiv</option>
                    <option value="Mariupol">Mariupol</option>
                    <option value="Vinnytsia">Vinnytsia</option>
                    <option value="Kherson">Kherson</option>
                    <option value="Poltava">Poltava</option>
                    <option value="Chernihiv">Chernihiv</option>
                    <option value="Cherkasy">Cherkasy</option>
                    <option value="Sumy">Sumy</option>
                    <option value="Zhytomyr">Zhytomyr</option>
                    <option value="Chernivtsi">Chernivtsi</option>
                    <option value="Ivano-Frankivsk">Ivano-Frankivsk</option>
                    <option value="Ternopil">Ternopil</option>
                    <option value="Rivne">Rivne</option>
                    <option value="Lutsk">Lutsk</option>
                    <option value="Uzhhorod">Uzhhorod</option>
                    <option value="Kropyvnytskyi">Kropyvnytskyi</option>
                </select>
            </div>
            <div class="input-object">
                <p>Category</p>
                <select name="category-select" class="container-box" required>
                    <option value="None">None</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Pets">Pets</option>
                    <option value="Home_Furniture">Home Furniture</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Hobbies">Hobbies</option>
                    <option value="Vehicles">Vehicles</option>
                </select>
            </div>
            <div class="input-object">
                <p>Description</p>
                <textarea name="description" class="textline textarea-desc" required name="desc">

                </textarea>
            </div>
            <div class="input-object">
                <p>Images</p>
                <input id="image-input" type="file" style="display:none;" name="images[]" multiple accept="image/x-png,image/jpeg">
                <button class="main-btn" id="image-btn" type="button">Select Images</button>

            </div>
            {% if error_message is defined %}
            <p style="color:#D63A3A;">
                {{ error_message }}
            </p>
            {% endif %}
        </div>
        
        <div class="form-control-buttons">
            <button class="main-btn cancel-button" onclick="window.location.href='{{ url_for('ann_list') }}'">Cancel</button>
            <button class="main-btn" type="submit">Create</button>
        </div>
        
    </form>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    const btn = document.getElementById("image-btn");
    const input_files = document.getElementById("image-input");

    btn.addEventListener("click", function() {
        input_files.click();
    });

    input_files.addEventListener("change", function() {
        btn.innerHTML = "Files Selected";
    });

</script>

{% endblock %}