{% extends "base1.html" %}

{% block profile_name %}

    {{ username }}

{% endblock %}

{% block searchbar %}
<form action="{{ url_for('search') }}">
    <div class="search-bar-section search-bar-section-search-page">
        <div class="wrapper wrapper-search-bar">
            <div class="search-div search-bar">
                <i class="fas fa-search icons icons-inputs"></i>
                <input type="text" class="nav-input" maxlength="250" placeholder="What are you looking for?" name="search_text">
                <input type="hidden" name="page" value="{{ page }}">
            </div>
            <button class="btn-search" type="submit"><i class="fas fa-search icons"></i>Search</button>
        </div>
    </div>
   

    <div class="filters-container">
        <div class="wrapper filters-div">
            <h2>Filters</h2>
                <div class = filter-block>
                    <div class="filter-settings">
                        <p>Category</p>
                        <select name="category_select" class="container-box">
                            <option value="None">None</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Pets">Pets</option>
                            <option value="Home_Furniture">Home Furniture</option>
                            <option value="Clothing">Clothing</option>
                            <option value="Hobbies">Hobbies</option>
                            <option value="Vehicles">Vehicles</option>
                        </select>
                    </div>
                    <div class="filter-settings">
                        <p>City</p>
                        <select name="city_select" class="container-box">
                            <option value="all">All Country</option>
                            <option value="Kyiv">Kyiv</option>
                            <option value="Kharkiv">Kharkiv</option>
                            <option value="Odesa">Odesa</option>
                            <option value="Dnipro">Dnipro</option>
                            <option value="Lviv">Lviv</option>
                            <option value="Zaporizhzhia">Zaporizhzhia</option>
                            <option value="Kryvyi Rih">Kryvyi Rih</option>
                            <option value="Mykolaiv">Mykolaiv</option>
                            <option value="Mariupol">Mariupol</option>
                            <option value="Vinnytsia">Vinnytsia</option>
                            <option value="Kherson">Kherson</option>
                            <option value="Poltava">Poltava</option>
                            <option value="Chernihiv">Chernihiv</option>
                            <option value="Cherkasy">Cherkasy</option>
                            <option value="Sumy">Sumy</option>
                            <option value="Zhytomyr">Zhytomyr</option>
                            <option value="Chernivtsi">Chernivtsi</option>
                            <option value="Ivano-Frankivsk">Ivano-Frankivsk</option>
                            <option value="Ternopil">Ternopil</option>
                            <option value="Rivne">Rivne</option>
                            <option value="Lutsk">Lutsk</option>
                            <option value="Uzhhorod">Uzhhorod</option>
                            <option value="Kropyvnytskyi">Kropyvnytskyi</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}



{% block content %}

    <div class="posts-container">
        <div class="wrapper posts-wrapper">
            {% if data_cards|length == 0 %}
                <h2 style="height:500px;text-align: center;">Not found anything. Try something else.</h2>
            {% else %}
                <h2>Found posts</h2>
                {% for id, title, price, location, image in data_cards %}
                    <!-- Posts cards -->
                    <a class="post-card" href="{{ url_for('postpage', post_id=id) }}">
                        <img src="{{ url_for('static', filename='/images/'+image ) }}" alt="" class="image-post">
                        <div class="post-card-desc">
                            <div class="post-card-desc-top">
                                <p class="title-p">{{ title }}</p>
                                <p class="price-p">{{ price }} UAH</p>
                            </div>
                            <div class="post-card-desc-bottom">
                                <p class="locat-p">
                                    {{ location }}
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            {% endif %}
            
            <div class="bottom-ui">
                <a href="{{ url_for('search', page=page-1, search_text=search_text, category_select=category_select, city_select=city_select ) }}">
                    <i class="fa-solid fa-angle-left switch-arrows"></i>
                </a>
                
                <h2 class="switch-title">{{ page }} of {{ all_pages }}</h2>
               
                <a href="{{ url_for('search', page=page+1, search_text=search_text, category_select=category_select, city_select=city_select) }}">
                    <i class="fa-solid fa-angle-right switch-arrows"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
