{% extends "base2.html" %}
{% block content %}
<div class="settings-wrapper">
    <div class="left-setting-widget">
        <a class="settings-option" href="{{ url_for('ann_list') }}">
            <i class="fa-solid fa-window-maximize"></i>
            <p>Your Announcements</p>
        </a>
        <a class="settings-option" href="{{ url_for('settings') }}">
            <i class="fa-solid fa-user"></i>
            <p>User Settings</p>
        </a>
        <a class="settings-option" href="{{ url_for('log_out') }}">
            <i class="fa-solid fa-circle-xmark"></i>
            <p>Log Out</p>
        </a>
    </div>

    <div class="right-setting-widget"> 
        <form action="{{ url_for('change_password') }}" method="post">
            <div class="settings-widget-slot">
                <h2>Change password</h2>
                <div class="input-object">
                    <p>Old Password</p>
                    <input type="password" class="textline" maxlength="100" name="old_password" required> 
                </div>
                <div class="input-object">
                    <p>New Password</p>
                    <input type="password" class="textline" maxlength="100" name="new_password" required>
                </div>
                <button class="main-btn" type="submit">Change Password</button>
            </div>
        </form>
        <form action="{{ url_for('change_phone') }}" method="post">
            <div class="settings-widget-slot">
                <h2>Change Phone Number</h2>
                <div class="input-object">
                    <p>New Number</p>
                    <input type="text" class="textline" maxlength="20" required name="new_phone">
                </div>
                <button class="main-btn" type="submit">Change Number</button>
            </div>
        </form>
        <form action="{{ url_for('delete_account') }}" method="post">
            <div class="settings-widget-slot">
                <h2>Delete Account</h2>
                <button class="main-btn cancel-button" type="submit">Delete Account</button>
            </div>
        </form>
        {% if error_message is defined %}
        <p style="color:#D63A3A;">
            {{ error_message }}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
       